
html {
  position: relative;
  min-height: 100%;
}

body{
	background-color:white;
	color:rgba(14,36,57,1.0);
	margin-bottom: 60px;
	font-family: 'Open Sans', sans-serif;
}


.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}


#post_manager_row{
}

#post_editor_textarea{
	
}

.post-editor-content{
	
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 800px;
	font-family:"Raleway", arial !important;
}

.editor-toolbar{

	background-color:white;
	opacity:1.0;
	z-index:1040 !important;
}


.post-editor-toolbar{
	height:auto;
	background-color:#fff;
}

#table_manage_posts{
	font-weight: normal !important;
}



.input-group{
	margin-bottom:10px;
}

.th_select{
    white-space: normal;
    width:30px !important;
}

.selectTableItem{
    cursor:pointer;
    position:relative;
    top:-1px;
    width:15px;
    height:15px;
}

.select_container{
}

.btn-noclick{
    background-color: white;
    color: #333333;
    border:1px solid rgba(53,53,53,0.3);
}

.select_container label{
    height:36px;
}

.flex-panel {
    flex:1;
    padding:20px;
    margin-top:10px;
    display:flex;
    flex-direction: column;
}

#btn_savePost{
    width:100%;
    margin-bottom:10px;
}

#btn_deletePost{
    width:100%;
}

/* bulk post actions */

.action-bar {
    font-family: 'Open Sans', sans-serif;
    z-index:2000;
    background-color:white;
    position:relative;
    top:0px;
    height:50px;
    display:none;
    padding-top:5px;
    width:100%;
}

.action-bar button{
    height:36px;
}


.action-bar label{
    padding-top:7px;
    height:36px;

}

#bulk_action_dropdown{
    display:inline-block;
}


#btn_toggleDropdown{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-left:0px;
}

#start_date, #end_date {
    border: 0;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.metricResultLabel {
    background-color: #af5e5d;
    color: white;
}

