<!doctype html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	{% block meta_tags %}

	{% endblock meta_tags %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" />

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for("static", filename="css/blog.css") }}?ts={{data.ts}}">
		
	<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>	
	
	{% block javascript %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src="https://use.fontawesome.com/b41d52df2a.js"></script>

	<!-- begin analytics tracking block -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-99083506-1', 'auto');
		  ga('send', 'pageview');
		</script>


	<!-- end analytics tracking block -->
			
	{% endblock javascript %}
	
	</head>
	<body>

	{% block nav_bar %}

	<nav class="navbar navbar-inverse navbar-static-top bg-inverse" style="background-color:rgba(14,36,57,1.0);">
	  <div class="container">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">
	        <img alt="Brand" src="{{ url_for("static", filename="images/ss_logo_white.png") }}" style="max-width:30px; margin-top: -7px;">
	      </a>

	    </div>

	    <div class="collapse navbar-collapse">

	    {% if data.user_data %}

	    <ul class="nav navbar-nav">
	        <li class="active"><a href="/view_posts"> Manage posts <span class="sr-only">(current)</span></a></li>
	        <li><a href="#" data-toggle="modal" data-target="#modal_createPost"> Create an article </a></li>
	        <li><a href="/settings"> Settings </a></li>
	      </ul>


	    {% endif %}
	    
	      <ul class="nav navbar-nav navbar-right">
	        <li class="active"><a href="/"> Blog <span class="sr-only">(current)</span></a></li>
	        <li><a href="#"> About </a></li>

	        {% if data.user_data %}
	        	<li><a href="/logout"> Log out </a></li>
	        {% else %}
	        	<li><a href="/login"> Log in </a></li>
	        {% endif %}
	       </ul>
	   </div>

	</nav>



	{% endblock nav_bar %}


	{% block body_content %}

	{% endblock body_content %}

	{% block footer %}
	 <footer class="footer" id="main_footer">
	      <div class="container">
	      
	      </div>
	  </footer>
	{% endblock footer %}

	{% block modals %}

	<div class="modal fade" id="modal_createPost">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Create a new article</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	      	<div class="input-group">
	      		<div class="input-group-addon">
	      			Post title
	      		</div>
	      		<input type="text" class="form-control" id="input_postTitle"> 
	       	</div>
	       	<hr>
	       	<div class="input-group">
	      		<div class="input-group-addon">
	      			Post type
	      		</div>
	      		<select class="form-control" id="select_postType"> 
	      			<option value="blog"> Blog </option>
	      			<option value="blurb"> Blurb </option>
	      		</select>
	       	</div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="btn_createPost">Create</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>


	{% endblock modals %}

	
	</body>
	
</html>