{% extends "base.html" %}

{% block meta_tags %}


{% endblock meta_tags %}


{% block body_content %}

<div class="container" id="timeline-container">

	<div class="row">
		<div class="col-sm-12 text-center" id="timeline_header">
			<h2> <i class="fa fa-battery-full" aria-hidden="true"></i> &nbsp; SmartShare Blog</h2>
			<h3> Musings on software, engineering, and life. </h3>
			<br>
			<hr>
		</div>

	</div>

	<br>
	<div class="row">
		<div class="col-sm-12">
			{{ timeline | safe }}
		</div>
	</div>

</div>


{% endblock body_content %}