{% extends "base.html" %}


{% block body_content %}

<div class="container" id="post-container">
	<br>
		<div class="row">
		<div class="col-sm-12 text-left">
			<h2> {{ data.post_data.post_title | safe }} </h2>
			<h4> by {{ data.post_data.post_author | safe }}, on {{ data.post_data.timestamp | safe }}</h4>

			<img src="{{ url_for("static", filename="images/fb_logo.png") }}" class="social-icon"> 
			<img src="{{ url_for("static", filename="images/twitter_icon.png") }}" class="social-icon"> 

			<br><br>
			Tags: 
			{% if data.post_data.post_tags %}
				{% for tag in data.post_data.post_tags %}
					<a href="#">{{tag}}</a>{{ "," if not loop.last }}
				{% endfor %}
			{% else %}
				No tags 

			{% endif %}

		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-sm-12 text-left blog-post">
			{{ data.post_data.post_content | safe }}
		</div>
	</div>
</div>






{% endblock body_content %}