<div class="row">
  <div class="col-xs-12 action-bar" id="post_action_bar">

        <div class="btn-group" role="group" aria-label="post_actions">

        <label class="btn btn-default">
           <input type="checkbox" id="select_all_posts"> 
        </label>

        <label class="btn btn-default">
          <span id="n_posts_selected"> </span>
        </label>
    

        <div class="dropdown" id="bulk_action_dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn_toggleDropdown">  Bulk Actions <span class="caret"></span></button>

            <ul class="dropdown-menu">
              <li id="btn_bulkDeletePosts"><a href="#">Delete Posts</a></li>
             
            </ul>
        </div>
       </div>
     </div>

   </div>
