{% extends "base.html" %}



{% block body_content %}


	<link rel="stylesheet" href="{{ url_for("static", filename="css/core.css") }}?ts={{data.ts}}">

	{% for script in data.	page_specific_js %}
		<script type="text/javascript" src="{{script}}?ts={{data.ts}}"></script>
	{% endfor %}
		

<div class="container">
	{{ data.post_action_bar | safe }}

	<div class="row" id="post_manager_row">
		<div class="col-sm-12">
	<!-- begin post management table -->
	{% if data.posts %}
		  <table class="table table-bordered table-hover" id="table_manage_posts">
		 	<thead>
		 	<th class="th_select">  </th>
		 	<th> Title </th>
		 	<th> Date </th>
		 	<th> Type </th>

		 	</thead>

		 	<tbody>
		 	

		 		{% for post_id, post_data in data.posts.iteritems() %}
		 		<tr>
		 			<td> 	
		 				<label class="btn btn-default select_container">
           					<input type="checkbox" class="selectTableItem" data-postID="{{post_id}}">
        				</label> 
        			</td>
		 			<td> <a href="/edit/{{post_data.post_id}}"> {{ post_data.post_title }} </a></td>
		 			<td> {{ post_data.timestamp }}</td>
		 			<td> {{ post_data.post_type }}</td>

		 		</tr>
		 			
		 		{% endfor %}

		 	</tbody>
		 </table>
		 <!-- end post management table -->
		 {% else %}
		 	<div class="text-center"> <h2> You haven't posted anything yet. </h2> 
		 	<h3>
		 	<a href="#" data-toggle="modal" data-target="#modal_createPost"> Create an article </a>
		 	</h3>
		 	</div>

		 {% endif %}
			
		</div>
	</div>

</div>


{% endblock body_content %}