{% extends "base.html" %}

{% block nav_bar %}

	<nav class="navbar navbar-inverse navbar-static-top bg-inverse" style="background-color:rgba(14,36,57,1.0);">
	  <div class="container">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">
	        <img alt="Brand" src="{{ url_for("static", filename="images/ss_logo_white.png") }}" style="max-width:30px; margin-top: -7px;">
	      </a>

	    </div>

	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/view_posts"> Manage posts <span class="sr-only">(current)</span></a></li>
	        <li><a href="#" data-toggle="modal" data-target="#modal_createPost"> Create an article </a></li>
	        <li><a href="#"> Settings </a></li>
	       </ul>

	       <ul class="nav navbar-nav navbar-right">
	        <li class="active"><a href="/"> Blog <span class="sr-only">(current)</span></a></li>
	        <li><a href="#"> About </a></li>
	        
	       	
	       	{% if data.user_data %}
	        	<li><a href="/logout"> Log out </a></li>
	        {% else %}
	        	<li><a href="/login"> Log in </a></li>
	        {% endif %}
	        
	       </ul>
	   </div>

	</nav>

{% endblock nav_bar %}

{% block body_content %}


	<link rel="stylesheet" href="{{ url_for("static", filename="css/core.css") }}?ts={{data.ts}}">

	{% for script in data.	page_specific_js %}
		<script type="text/javascript" src="{{script}}?ts={{data.ts}}"></script>
	{% endfor %}
		

<div class="container">

	<div class="row" id="post_manager_row">
		<div class="col-sm-12">
	<!-- begin post management table -->

		  <table class="table table-bordered table-hover" id="table_manage_posts">
		 	<thead>
		 	<th>  </th>
		 	<th> Title </th>
		 	<th> Date </th>
		 	<th> Type </th>

		 	</thead>

		 	<tbody>
		 	{% if data.posts %}

		 		{% for post_id, post_data in data.posts.iteritems() %}
		 		<tr>
		 			<td> </td>
		 			<td> <a href="/edit/{{post_data.post_id}}"> {{ post_data.post_title }} </a></td>
		 			<td> {{ post_data.timestamp }}</td>
		 			<td> {{ post_data.post_type }}</td>

		 		</tr>
		 			
		 		{% endfor %}

		 	{% endif %}

		 	</tbody>
		 </table>

		<!-- end post management table -->
	</div>
</div>

</div>


{% endblock body_content %}